*{
	overflow-x: hidden;
	font-family: 'Amiri', serif;
}
/*NAViGATION STYLINGS*/
.nav-one{
	padding: 0px;
}

.rel-body{
	margin-top: 122px;
}

#rel-body{
	margin-top: 122px !important;
}

.nav-one{
	padding: 20px 50px;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-one a{
	font-size: 25px;
	text-decoration: none !important;
	color: white !important;
	display: inline;
}

.nav-one img{
	float: right;
}

.toggle-menu{
	display: inline;
	font-size: 25px;
}

.side-menu{
	height: 100%;
	width: 0px;
	background-color: rgba(24, 21, 237, 0.7);
	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 60px;
}

#close{
	padding-left: 250px;
	padding-bottom: 5px !important;
	font-size: 15px !important;
}

.side-menu a{
	color: white;
	display: block;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 20px;
	transition: 0.4s;
}

.nav-two{
	background-color: blue;
	margin: 0px;
	/*height: 40px;*/
	padding-left: 150px;
	position: fixed;
	top: 78px;
	width: 100%;
}

.two-button{
	padding: 10px;
}

.two-button a{
	text-decoration: none;
	color: white !important;
	font-size: 15px;
	padding: 0 50px;
}

.two-button a:visited{
	background-color: white;
	color: blue;
}

.two-button:hover {
	border: 1px blue solid;
	background-color: #3087DD;

}

.two-button a:hover{
	color: blue !important;
}

/*HOME MESSAGE*/
.welcome-message{
	margin-top: 120px !important; 
	padding-top: 200px;
	color: blue;
	font-size: 50px;
	position: relative;
  	animation-name: example;
 	animation-duration: 6s;
 	animation-iteration-count: infinite;
}

@keyframes example {
  0%   {left:-50%;}
  100%   {left:100%;}
}

/*FORM*/
.center-div{
	margin: auto;
	padding: 100px 50px;
}

.form-cover{
	width: 40%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.form-cover input{
	display: block;
	margin: auto;
}


/*FOOTER*/
.footer{
	background-color: blue;
	color: white;
	width: 100%;
	padding: 15px 100px;
	position: fixed;
	top: 90%;
}

/*VIN-LOCATION DROP DOWN MENU*/

#brand-drop{
	height: 0;
	transition: 0.5s;
}

#brand-drop a{
	text-decoration:  none;
	color: blue !important;
	display: block;
	transition: 1s;
	padding-top: 10px;
	padding-bottom: 10px;
}


.select-bar, .brand-drop{
	width: 50% !important;
}

.brand-drop{
	overflow-y: scroll;
	height: 500px;
}


/*FIXED SCROLL-UP ARROW*/
.arrow-up{
	font-size: 25px;
	position: fixed;
	top: 80%;
	left: 78%;
	transition: 1s;
}

.arrow-up a{
	transition: 1s;
}

.div-center{
	padding-top: 70px !important;
	padding-bottom: 150px !important;
	width: 50%;
}


/*MEDIA QUERIES*/

/*SMARTPHONE WIDTH QUERIES*/
@media screen and (max-width: 450px) and (min-width: 200px){
	.div-center{
		width: 80%;
	}

	.select-bar, .brand-drop{
		width: 80% !important;
		margin: auto;
	}
	.two-button{
		display: none;
	}

	.welcome-message{
		padding-top: 100px;
		font-size: 20px;
	}

	.nav-one img{
		display: none;
	}

	.footer{
		padding: 15px 20px;
	}

	.form-cover{
		width: 80%;
	}

	.form-cover label{
		display: none;
	}

	.form-cover input{
		display: block;
		margin: auto;
	}

}

/*IPAD HEIGHT QUERIES*/
@media screen and (max-height: 1366px) and (min-height: 1024px){
	.footer{
		position: fixed;
		top: 94%;
	}
}

@media screen and (max-height: 823px) and (min-height: 700px){
	.footer{
		position: fixed;
		top: 92%;
	}
}

/*IPAD WIDTH QUERIES*/
@media screen and (max-width: 1024px) and (min-width: 700px){
	.div-center{
		width: 80%;
	}

	.select-bar, .brand-drop{
		width: 80% !important;
		margin: auto;
	}

	.form-cover{
		width: 60%;
	}

	.form-cover input{
		display: block;
		margin: auto;
	}

}


